<!DOCTYPE html>
<html lang="ja">

<head>
	<meta http-equiv="content-type" content="text/html" charset="UTF-8">
	<title>Index</title>
	<style>
		h1 {
			font-size: 60pt;
			color: #eee;
			text-align: right;
			margin: 0px;
		}

		body {
			font-size: 14pt;
			color: #999;
			margin: 15px;
		}
	</style>
</head>

<body>
	<header>
		<h1>Index</h1>
	</header>
	<div role="main">
		<p>This is Index Page.</p>
		<p>これは、EJSを使ったWebページです。</p>
	</div>
</body>

</html>