<!DOCTYPE html>
<html lang="ja">

<head>
	<meta http-equiv="content-type" content="text/html" charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		crossorigin="anonymous">
	<title>
		<%= title %>
	</title>
</head>

<body class="container">
	<header>
		<h1 class="display-4">
			<%= title %>
		</h1>
	</header>
	<div role="main">
		<table class="table">
			<tr>
				<th>伝言です！</th>
			</tr>
			<tr>
				<td>
					<%= data.msg %>
				</td>
			</tr>
		</table>
		<form method="post" action="/">
			<div class="form-group">
				<label for="msg">MESSAGE</label>
				<input type="text" name="msg" id="msg" class="form-control">
			</div>
			<input type="submit" value="送信" class="btn btn-primary">
		</form>
	</div>
</body>

</html>