<!DOCTYPE html>
<html lang="ja">

<head>
	<meta http-equiv="content-type" content="text/html" charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		crossorigin="anonymous">
	<title>
		<%=title %>
	</title>
</head>

<body class="container">
	<header>
		<h1 class="display-4">
			<%=title %>
		</h1>
	</header>
	<div role="main">
		<p>
			<%=content %>
		</p>
		<form method="post" action="/other">
			<input type="text" name="msg" class="form-control">
			<input type="submit" value="Click" class="btn btn-primary">
		</form>
	</div>
</body>

</html>