<!DOCTYPE html>
<html lang="ja">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>ミニメッセージボード</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script>
		function setId() {
			var id = document.querySelector('#id_input').value;
			localStorage.setItem('id', id);
			location.href = '/';
		}
	</script>
</head>

<body class="container" onload="init();">

	<header>
		<h1 class="display-4">メッセージボード</h1>
	</header>
	<div role="main">
		<p>あなたのログインネームを入力ください。</p>
		<div class="form-group">
			<label for="id_input">Login name:</label>
			<input type="text" id="id_input" class="form-control">
		</div>
		<button onclick="setId();" class="btn btn-primary">送信</button>
	</div>
</body>

</html>